* {
    padding: 0;
    margin: 0;
}

#main-body {
    font-size: 18px;
    font-family: monospace, sans-serif;
    background-color: darkgray;
}

#container {
    background-color: white;
    padding: 60px;
    margin-top: 10em;
    margin-left: 20em;
    margin-right: 20em;
    text-align: center;
}

#container h1 {
    padding: 10px;
    font-size: 5em;
}

a {
    font-size: 2em;
    text-decoration: none;
    display: inline-block;
    
}

/*unvisited*/
a:link{
    color: #fc3;
}

a:focus {
    
}

/*visited*/
a:visited {
    color: #e74c3c;
}

/*hover*/
a:hover{
    color: greenyellow;
    border-left: 5px solid #e74c3c;
    transition: all 0.4s ease;
}

/*active*/
a:active {
    color: white;
}

a.link:link{
    padding: 10px;
    
}

a.link:hover{
    background: #333;
    color: white;
    
}























